html, body{
	background-color:#F7F7F7;
}

$base-color: #df1138;
$back-color: #454545;


.w-100{
	width:100%;
}

.top_cabecalho{
	background-color: #454545 !important;
}

.v-toolbar__content{
	height: 120px !important;
}

.colorBase{
	color: #df1138;
}